@use "../../index" as *;

.areaBuscados{
    padding-left: 0.8rem;
    margin-bottom: 10vh;

    h2{
        color: #b0d1f7;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        display: flex;

        hr{
            width: 4px;
            color: yellow;
            margin-right: 2vw;
            background-color: yellow;
            border: none;
        }
    }

    @media(min-width: 768px){
        padding-left: 2rem;
    }

    .areaCardsPesquisados{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @include listas;
    }

}

