@use "../../index" as *;

.areaBuscados{
    padding-left: 0.8rem;
    margin-bottom: 10vh;

    h2{
        color: #b0d1f7;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        display: flex;

        hr{
            width: 4px;
            color: yellow;
            margin-right: 2vw;
            background-color: yellow;
            border: none;
        }
    }

    @media(min-width: 768px){
        padding-left: 2rem;
    }

    .areaCardsPesquisados{
        @include listas;

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (min-width: 768px){
            grid-template-columns: repeat(6, 1fr);
        }
    }

}

.semResultados{
    font-size: 1.5rem;
    color: white;

    @media(min-width: 992px){
        font-size: 3rem;
    }
}

.modalOverlay{
    @include ModalDetails
}