.footer{
    background-color: black;
    width: 100%;
    margin-top: auto;
   

    p{
        text-align: center;
        color: white;
        font-size: 0.5rem;
        opacity: 0.5;
        font-weight: 200;
        margin-bottom: 1rem;
        margin-top: 0.5rem;

        a{
            text-decoration: underline;
            color: white;
            font-weight: bold;
        }
    }
}